<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Page Banner Start -->
<%= render 'shared/page_banner', title: "Digital Solutions" %>
<!-- Page Banner End -->

<!-- About Two Area start -->
<section id="about" class="about-two-area pt-135 pb-85 rpt-100 rpb-50 rel z-1">
    <div class="container">
        <div class="row gap-110 align-items-center">
            <div class="col-xl-6 wow fadeInRight delay-0-2s">
                <div class="about-three-images mb-50">
                    <div class="experience-corner">
                        <%= image_tag("shapes/experience-corner.jpg", :alt => "Shape") %> 
                    </div>
                    <div class="image">
                        <%= image_tag("about/about.webp", :alt => "About") %> 
                    </div>
                    <div class="experience-circle">
                        <span>3</span>
                        <p>Years of Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInLeft delay-0-2s">
                <div class="about-two-content mb-50">
                    <div class="section-title mb-30">
                        <span class="sub-title mb-10">Trusted web development services</span>
                        <h2>We Give You Digital Solutions for</h2>
                    </div>
                    <h5>Front End, Back End, Fullstack applications</h5>
                    <p>no matter what size we can build any Web Mobile Application using either CMS or Web Frameworks</p>
                    <div class="row pt-25">
                        <div class="col-md-6">
                            <div class="service-item wow fadeInUp delay-0-2s">
                                <div class="content">
                                    <h6><a href="/contact_form">WEBSITE DESIGN</a></h6>
                                    <p>Design a website</p>
                                </div>
                                <a href="/contact_form" class="details-btn"><i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item wow fadeInUp delay-0-6s">
                                <div class="content">
                                    <h6><a href="/contact_form">WEBSITE DEVELOPMENT</a></h6>
                                    <p>Build a website</p>
                                </div>
                                <a href="/contact_form" class="details-btn"><i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="author-name-btn">
                        <%= image_tag("about/author.jpg", :alt => "Author") %> 
                        <%= image_tag("about/signature-two.png", :alt => "Signature") %> 
                        <a href="/portfolio" class="theme-btn style-two">More about us</a>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Two Area end -->

<!-- Services Area start -->
<section class="services-area-five pt-135 rpt-100 pb-100 rpb-60 rel z-1">
    <div class="container">
        <div class="row pb-35 align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6 wow fadeInLeft delay-0-2s">
                <div class="section-title mb-20 rmb-35">
                    <span class="sub-title mb-15">Trusted web design Service</span>
                    <h2>modern & intuitive web <span>solutions</span></h2>
                </div>
            </div>

        </div>
            <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="service-item-five wow fadeInUp delay-0-2s">
                    <div class="image">
                        <%= image_tag("services/wordpress-development-company.png", :alt => "Service") %> 
                    </div>
                    <div class="content">
                        <h5><a href="/contact_form">WordPress or Shopify</a></h5>
                        <a href="/contact_form" class="btn"><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="service-item-five wow fadeInUp delay-0-6s">
                    <div class="image">
                        <%= image_tag("services/mobiledev.png", :alt => "Service") %> 
                    </div>
                    <div class="content">
                        <h5><a href="/contact_form">Mobile Development</a></h5>
                        <a href="/contact_form" class="btn"><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="service-item-five wow fadeInUp delay-0-2s">
                    <div class="image">
                        <%= image_tag("services/Laravel-Development.png", :alt => "Service") %> 
                    </div>
                    <div class="content">
                        <h5><a href="/contact_form">Custom Code</a></h5>
                        <a href="/contact_form" class="btn"><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Services Area end -->

<!-- Testimonials Area start -->
<%= render 'shared/testimonials' %>   
<!-- Testimonials Area end -->

<!-- Lets Talk Area start -->
<%= render 'shared/lets_talk' %>
<!-- Lets Talk Area end -->
    
<!-- Headline area start -->
<%= render 'shared/green_headline' %>
<!-- Headline Area end -->