<!-- Hero Section Start -->
<section class="hero-area py-100 rel z-1">
    <div class="container container-1530">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="hero-content-part rmb-55">
                    <h1 class="wow fadeInUp delay-0-2s">Web<i class="fas fa-star-of-life"></i></h1>
                    <div class="hero-sub-heading wow fadeInUp delay-0-4s">
                        <%= image_tag("hero/sub-heading.svg", :alt => "Shape") %>
                        <h2 class="wow fadeInUp delay-0-2s">Agency</h2>
                    </div>
                    <div class="text wow fadeInUp delay-0-6s">Welcome to Roncee! We are a professional and reliable Web Development Agency that offers a wide range of services to meet your needs.</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-image-part">
                    <div class="hero-main-img wow fadeInRight delay-0-2s">
                        <%= image_tag("hero/htmldev.jpg", :alt => "Hero") %>
                        <a href="https://www.youtube.com/watch?v=9Y7ma241N8k" class="mfp-iframe hero-video-play" tabindex="-1">
                            <!-- <%= image_tag("hero/play-text.svg", :alt => "Video Play") %> -->   
                        </a>
                    </div>
                    <div class="mail-us wow fadeInRight delay-0-4s">
                        <i class="far fa-at"></i>
                        <span>mail us today</span>
                    </div>
                    <div class="hero-small-img wow fadeInDown delay-0-6s">
                        <%= image_tag("hero/businessmane.png", :alt => "Hero") %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-shape">
        <%= image_tag("hero/hero-shape.png", :alt => "Shape") %> 
    </div>
</section>
<!-- Hero Section End -->

<!-- Headline area start -->
<div class="headline-area bgc-black rel z-2 pt-30">
    <div class="container-fluid">
        <div class="headline-wrap">
            <span class="marquee-wrap">
                <span class="marquee-inner left">
                    <span class="marquee-item"><b>Open Hours : <span>24/7</span></b><i class="far fa-asterisk"></i></span>
                    <span class="marquee-item"><b>England —<span>55 Westbourne Rd</span>, Office Bedford, GB </b><i class="far fa-asterisk"></i></span>
                    <span class="marquee-item"><b>Get In Touch — phone: +44 7548 339251 </b><i class="far fa-asterisk"></i></span>
                </span>
                <span class="marquee-inner left">
                    <span class="marquee-item"><b>Open Hours : <span>24/7</span></b><i class="far fa-asterisk"></i></span>
                    <span class="marquee-item"><b>Canada —<span>62 Parkway</span>, Office Toronto, CA </b><i class="far fa-asterisk"></i></span>
                    <span class="marquee-item"><b>Get In Touch — phone: +44 7548 339251 </b><i class="far fa-asterisk"></i></span>
                </span>
                <span class="marquee-inner left">
                    <span class="marquee-item"><b>Open Hours : <span>24/7<span>Closed</span></b><i class="far fa-asterisk"></i></span>
                    <span class="marquee-item"><b>Poland —<span>72 Jana Pawla II</span>, Office Warsaw, PL </b><i class="far fa-asterisk"></i></span>
                    <span class="marquee-item"><b>Get In Touch — phone: +44 7548 339251 </b><i class="far fa-asterisk"></i></span>
                </span>
            </span>
        </div>
    </div>
</div>
<!-- Headline Area end -->

<!-- About Area start -->
<section class="about-area bgc-black py-145 rpy-100 rel z-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content hover-box-wrap rmb-55 wow fadeInRight delay-0-2s">
                    <div class="section-title">
                        <span class="sub-title mb-15">Trusted web design agency</span>
                        <h2>We’re a digital design studio connecting brands to people <span>through</span> craft and culture. <i class="fas fa-asterisk"></i></h2>
                    </div>
                    <div class="hover-box">
                        <span>What We Do</span>
                        <i class="fal fa-arrow-down"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="our-clients wow fadeInLeft delay-0-2s">
                    <%= image_tag("client-logos/dje.png", :alt => "Client Logo") %> 
                    <%= image_tag("client-logos/download.png", :alt => "Client Logo") %> 
                    <%= image_tag("client-logos/deep.png", :alt => "Client Logo") %> 
                    <!--
                    <%= image_tag("client-logos/client-logo4.png", :alt => "Client Logo") %> 
                    <%= image_tag("client-logos/client-logo5.png", :alt => "Client Logo") %> 
                    <%= image_tag("client-logos/client-logo6.png", :alt => "Client Logo") %> 
                    -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area end -->
           
<!-- Headline area start -->
<div class="headline-area-big pt-70 rpt-20">
    <div class="headline-wrap">
        <span class="marquee-heading-two">
            <span class="marquee-inner left">
                <span class="marquee-item"><a href="/contact_form">design</a>  <span>/</span>  <a href="/contact_form">development</a>  <span>/</span>  <a href="/contact_form">marketing</a> <span>/</span></span>
                <span class="marquee-item"><a href="/contact_form">design</a>  <span>/</span>  <a href="/contact_form">development</a>  <span>/</span>  <a href="/contact_form">marketing</a> <span>/</span></span>
                <span class="marquee-item"><a href="/contact_form">design</a>  <span>/</span>  <a href="/contact_form">development</a>  <span>/</span>  <a href="/contact_form">marketing</a> <span>/</span></span>
            </span>
        </span>
    </div>
</div>
<!-- Headline Area end -->

<!-- Services Area start -->
<section class="services-area pt-135 rpt-100 rel z-1">
    <div class="container">
        <div class="row pb-60 align-items-center justify-content-between">
            <div class="col-xl-6 col-lg-8 wow fadeInLeft delay-0-2s">
                <div class="section-title mb-20 rmb-35">
                    <span class="sub-title mb-15">Trusted web design Service</span>
                    <h2>modern & intuitive web <span>solutions</span></h2>
                </div>
            </div>
            <div class="col-lg-4 text-lg-end wow fadeInRight delay-0-2s">
                <a href="/services" class="theme-btn">View all service</a>
            </div>
        </div>
            <div class="row gap-40">
            <div class="col-lg-4 col-md-6">
                <div class="service-item wow fadeInUp delay-0-2s">
                    <div class="content">
                        <h5><a href="/services">NO CODE CMS</a></h5>
                        <p>Wordpress, Shopify</p>
                    </div>
                    <a href="/services" class="details-btn"><i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item wow fadeInUp delay-0-2s">
                    <div class="content">
                        <h5><a href="/services">CUSTOM CODE</a></h5>
                        <p>Laravel, Django, ASP.NET</p>
                    </div>
                    <a href="/services" class="details-btn"><i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item wow fadeInUp delay-0-6s">
                    <div class="content">
                        <h5><a href="/services">MOBILE DEVELOPMENT</a></h5>
                        <p>.NET Maui</p>
                    </div>
                    <a href="/services" class="details-btn"><i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Area end -->

<!-- About Agency Area start -->
<section class="about-agency-area pt-135 rpt-100 rel z-1">
    <div class="container">
        <div class="row pb-80 align-items-center">
            <div class="col-lg-6 wow fadeInRight delay-0-2s">
                <div class="about-agency-image rmb-55">
                    <%= image_tag("about/python.jpg", :alt => "About Agency") %> 
                </div>
            </div>
            <div class="col-lg-6 wow fadeInLeft delay-0-2s">
                <div class="about-agency-content">
                    <div class="section-title mb-30">
                        <span class="sub-title mb-15">Trusted web development agency</span>
                        <h2>Why should choose our development <span>agency</span></h2>
                    </div>
                    <p>At Roncee we understand that our clients wish to have the simplest solutions that will make their businesses work more efficient</p>
                    <h5>In 2023 Roncee has been growing exponentially</h5>
                    <div class="skillbar" data-percent="88">
                        <span class="skillbar-title">Growth</span>
                        <div class="progress-bar-striped skillbar-bar progress-bar-animated" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill-bar-percent"></span></div>
                    </div>
                    <div class="row justify-content-between pt-5">
                        <div class="col-sm-6">
                            <div class="service-stye-two">
                                <div class="icon">
                                    <%= image_tag("icons/light.png", :alt => "Icon") %> 
                                </div>
                                <h6>Leader of creative agency</h6>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="service-stye-two">
                                <div class="icon">
                                    <%= image_tag("icons/development.png", :alt => "Icon") %> 
                                </div>
                                <h6>Highest quality development</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Agency Area end -->      

<!-- Headline area start -->
<%= render 'shared/headline_area' %>
<!-- Headline Area end -->

<!-- Testimonials Area -->
<%= render 'shared/testimonials' %>
<!-- Testimonials Area -->
       
<!-- Headline area start -->
<%= render 'shared/headline_area' %>
<!-- Headline Area end -->

<!-- Blog Area start -->
<section class="blog-area pt-150 rpt-100 pb-50 rel z-1">
    <div class="container" id="posts">
        <% @posts.each do |post| %>
        <%= render partial: "posts/new_post", locals: { post: post } %>
        <% end %>
    </div>
</section>
<!-- Blog Area end -->

<!-- Lets Talk Area start -->
<%= render 'shared/lets_talk' %>
<!-- Lets Talk Area end -->