<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Page Banner Start -->
<%= render 'shared/page_banner', title: "Contact Us" %>
<!-- Page Banner End -->

<!-- Contact Page Area start -->
<section class="contact-page py-140 rpy-100 rel z-1">
    <div class="container">
        <div class="row pb-60 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="contact-info-item wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <%= image_tag("icons/contact1.png", :alt => "Icon") %>  
                    </div>
                    <div class="content">
                        <h5>Phone Number</h5>
                        <a href="callto:+447548339251">+44 7548 339 251</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-info-item wow fadeInUp delay-0-4s">
                    <div class="icon">
                        <%= image_tag("icons/contact2.png", :alt => "Icon") %>  
                    </div>
                    <div class="content">
                        <h5>Address line</h5>
                        <span>Westbourne Road, Bedford, Bedfordshire<br> MK40 4LD,UK</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-info-item wow fadeInUp delay-0-6s">
                    <div class="icon">
                        <%= image_tag("icons/contact3.png", :alt => "Icon") %>  
                    </div>
                    <div class="content">
                        <h5>Office Hours</h5>
                        <span>Always Open</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="contact-page-form wow fadeInUp delay-0-2s">
            <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "container" do |form| %>
                <div class="row">
                    <div class="col-md-6 wow fadeInUp delay-0-2s">
                        <div class="form-group">
                            <%= form.label :name %>
                            <%= form.text_field :name, class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp delay-0-4s">
                        <div class="form-group">
                            <%= form.label :last_name %>
                            <%= form.text_field :last_name, class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp delay-0-2s">
                        <div class="form-group">
                            <%= form.label :email %>
                            <%= form.email_field :email, class: "form-control" %>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-6 wow fadeInUp delay-0-4s">
                        <div class="form-group">
                            <input type="text" id="phone" name="phone" class="form-control" value="" placeholder="Phone Number*">
                        </div>
                    </div> -->
                    <div class="col-md-12 wow fadeInUp delay-0-2s">
                        <div class="form-group">
                            <%= form.label :message %>
                            <%= form.text_area :message, class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-12 text-center wow fadeInUp delay-0-2s">
                        <%= form.submit "Submit", class: "theme-btn style-two" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>
<!-- Contact Page Area end -->

<!-- Location Map Area Start -->
<div class="contact-page-map wow fadeInUp delay-0-2s">
    <div class="our-location">
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=bedford+(My%20Business%20Name)&amp;t=h&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!-- Location Map Area End -->
        
<!-- Lets Talk Area start -->
<%= render 'shared/lets_talk' %>
<!-- Lets Talk Area end -->
   
<!-- Headline area start -->
<%= render 'shared/green_headline' %>
<!-- Headline Area end -->