<!-- footer area start -->
<footer class="main-footer footer-one pt-70 pb-20 bgc-black bordered-top rel z-1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="footer-widget widget-about wow fadeInUp delay-0-2s">
                    <div class="footer-logo mb-15">
                        <a href="index.html"><%= image_tag("logos/logo.png", :alt => "Logo") %></a>
                        <!-- <a href="index.html"><img src="app/assets/images/logos/logo.png" alt="Logo"></a> -->
                    </div>
                    <p>Bjørn is an award UI/UX designs and branding agency based in New York, USA.</p>
                    <div class="social-style-one mt-15">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="footer-widget widget-links wow fadeInUp delay-0-3s">
                    <h6 class="footer-title">Our Links</h6>
                    <ul>
                        <li><a href="services.html">Features</a></li>
                        <li><a href="team.html">Team Member</a></li>
                        <li><a href="contact.html">Our Careers</a></li>
                        <li><a href="contact.html">Login Here</a></li>
                        <li><a href="contact.html">Registered</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="footer-widget widget-links wow fadeInUp delay-0-4s">
                    <h6 class="footer-title">Find It Fast</h6>
                    <ul>
                        <li><a href="index2.html">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="services.html">Features</a></li>
                        <li><a href="contact.html">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="footer-widget widget-text wow fadeInUp delay-0-5s">
                    <div class="text">
                        <p>New South Head Rd, Double Bay NSW 2028, New York</p>
                        <a href="mailto:contact@bjorn.com">contact@bjorn.com</a><br>
                        <a href="callto:+1300877503">+1300 877 503</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->


<!-- Scroll Top Button -->
<button class="scroll-top scroll-to-target" data-target="html"><span class="far fa-angle-double-up"></span></button>

</div>
<!--End pagewrapper-->

<!-- Jquery -->
<%= javascript_include_tag "/javascript/query-3.6.0.min" %>

<!-- Bootstrap -->
<%= javascript_include_tag "/javascript/bootstrap.min" %>

<!-- Appear Js -->
<%= javascript_include_tag "/javascript/appear.min" %>

<!-- Slick -->
<%= javascript_include_tag "/javascript/slick.min.js" %>

<!-- Magnific Popup -->
<%= javascript_include_tag "/javascript/jquery.magnific-popup.min" %>

<!-- Nice Select -->
<%= javascript_include_tag "/javascript/jquery.nice-select.min" %>

<!-- Image Loader -->
<%= javascript_include_tag "/javascript/imagesloaded.pkgd.min" %>

<!-- Circle Progress -->
<%= javascript_include_tag "/javascript/circle-progress.min" %>

<!-- Skillbar -->
<%= javascript_include_tag "/javascript/skill.bars.jquery.min" %>

<!-- Isotope -->
<%= javascript_include_tag "/javascript/isotope.pkgd.min" %>

<!--  WOW Animation -->
<%= javascript_include_tag "/javascript/wow.min" %>

<!-- Custom script -->
<%= javascript_include_tag "/javascript/script" %>


</body>
</html>