
    <!DOCTYPE html>
    <html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Title -->
        <title>Agincy - Digital Agency HTML Template || Home</title>
        <!-- Favicon Icon -->
        <link rel="shortcut icon" href="assets/images/logos/favicon.png" type="image/x-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
        <%= stylesheet_link_tag('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap') %>
        
        <%= stylesheet_link_tag('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css') %>
        
        <!-- Flaticon -->
        <%= stylesheet_link_tag('flaticon.min') %>
        <!-- Font Awesome -->
        <%= stylesheet_link_tag('fontawesome-5.14.0.min') %>
        <!-- Bootstrap -->
        <%= stylesheet_link_tag('bootstrap.min') %>
        <!-- Magnific Popup -->
        <%= stylesheet_link_tag('magnific-popup.min') %>
        <!-- Nice Select -->
        <%= stylesheet_link_tag('nice-select.min') %>
        <!-- Animate -->
        <%= stylesheet_link_tag('animate.min') %>
        <!-- Slick -->
        <%= stylesheet_link_tag('slick.min') %>
        <!-- Main -->
        <%= stylesheet_link_tag('styles') %>

    
        
        
    </head>
    <body class="home-one">
        <div class="page-wrapper">

            <!-- Preloader -->
            <!-- <div class="preloader"><div class="custom-loader"></div></div> -->

            <!-- main header -->
            <header class="main-header">
                <!--Header-Upper-->
                <div class="header-upper">
                    <div class="container container-1695 clearfix">

                        <div class="header-inner rpy-10 rel d-flex align-items-center">
                            <div class="logo-outer">
                                <div class="logo"><a href="/"><%= image_tag("logos/logo.png", :alt => "Logo") %></a></div>
                                <!-- <div class="logo"><a href="/"><img src="app/assets/images/logos/logo.png" alt="Logo" title="Logo"></a></div> -->
                            </div>

                            <div class="nav-outer ms-lg-auto clearfix">
                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-lg">
                                    <div class="navbar-header">
                                    <div class="mobile-logo">
                                        <a href="index.html">
                                                <%= image_tag("logos/logo.png", :alt => "Logo") %>
                                        </a>
                                    </div>
                                    
                                        <!-- Toggle Button -->
                                        <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <div class="navbar-collapse collapse clearfix">
                                        <ul class="navigation clearfix">
                                            <li class="dropdown"><a href="/">Home</a>
                                            </li>
                                            <!--
                                            <li class="dropdown"><a href="#">pages</a>
                                                <ul>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="faqs.html">faqs</a></li>
                                                    <li class="dropdown"><a href="#">Products</a>
                                                        <ul>
                                                            <li><a href="shop.html">our Products</a></li>
                                                            <li><a href="portfolio-details.html">Product Details</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown"><a href="#">Team</a>
                                                        <ul>
                                                            <li><a href="team.html">Team Members</a></li>
                                                            <li><a href="team-details.html">Team Details</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="404.html">404 error</a></li>
                                                </ul>
                                            </li>
                                            -->
                                            <li class="dropdown"><a href="/services">Services</a>
                                            </li>
                                            <li class="dropdown"><a href="/portfolio">Portfolio</a>
                                            </li>
                                            <li class="dropdown"><a href="/posts">Blog</a>
                                            </li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>

                                </nav>
                                <!-- Main Menu End-->
                            </div>
                            
                            <!-- Menu Button -->
                            <div class="menu-btns ms-lg-auto">
                                <button class="cart"><i class="far fa-shopping-cart"></i></button>
                                
                                <!-- menu sidbar -->
                                <div class="menu-sidebar">
                                    <button><%= image_tag("icons/toggler.svg", :alt => "Toggler") %></button>
                                </div>
                                <a href="contact.html" class="theme-btn">let,s talk</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Header Upper-->
            </header>
