<!--
<h1>Portfolio#index</h1>
<p>Find me in app/views/portfolio/index.html.erb</p>
-->
<!--Form Back Drop-->
        <div class="form-back-drop"></div>
        
        <!-- Page Banner Start -->
        <section class="page-banner-area pt-135 rpt-95 pb-110 rpb-70 rel z-1 bgs-cover text-center" style="background-image: url('<%= asset_path("background/banner-bg.png") %>');">
            <div class="container">
                <div class="banner-inner text-white wow fadeInUp delay-0-2s">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Portfolio</li>
                        </ol>
                    </nav>
                    <h1 class="page-title" style="background-image: url('<%= asset_path("shapes/heading-text.jpg") %>');">Portfolio</h1>
                </div>
            </div>
        </section>
        <!-- Page Banner End -->
        
        <section class="portfolio-page-three pt-140 rpt-100 pb-40 rpb-20 rel z-1">
            <div class="container">
                <div class="portfolio-item-four">

                    <div class="content wow fadeInRight delay-0-2s">
                        <h2>Hello Everyone</a></h2>
                        <p>My name is Simon Duranowski, I am the owner, creator of Roncee but the most importantly I am a passionate web developer with a keen interest in creating engaging and user-friendly websites. I am dedicated to turning ideas into reality through clean, efficient code.</p>
                        <p>Here, you can find four of my recent projects that I have built and customized. You can access my code project on GitHub as well by clicking the arrow right below</p>
                        <a class="details-btn" href="https://www.github.com/sduranowski1"><i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>    
        
        <!-- Portfolio Area start -->
        <section class="portfolio-page-three pt-140 rpt-100 pb-40 rpb-20 rel z-1">
            <div class="container">
                <div class="portfolio-item-four">
                    <div class="image wow fadeInLeft delay-0-2s" id="purfect">
                        <%= image_tag("portfolio/seeurope.png", :alt => "Portfolio") %>    
                    </div>
                    <div class="content wow fadeInRight delay-0-2s">
                        <span class="category">SUPPLIER</span>
                        <h2><a href="https://www.se-europe-test.pl">Excavator Equipment Manufacturer</a></h2>
                        <p>In charge of delivering backend API based on Symfony PHP framework(docs: /api). It is a recent project and it is still under the development</p>
                        <a class="details-btn" href="https://www.se-europe-test.pl"><i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="portfolio-item-four">
                    <div class="content wow fadeInRight delay-0-2s">
                        <span class="category">ONLINE HELP</span>
                        <h2><a href="http://138.68.158.146">Claims management</a></h2>
                        <p>BeSmartAir is a polish company that was inspired by airhelp.com to allow airline passengers to seek compensation for flight cancellations, delays, or overbookings.  Built with Laravel and React</p>
                        <a class="details-btn" href="http://138.68.158.146/"><i class="fal fa-arrow-right"></i></a>
                    </div>
                    <div class="image wow fadeInLeft delay-0-2s">
                        <%= image_tag("portfolio/airhelp.png", :alt => "Portfolio") %>    
                    </div>
                </div>
                <div class="portfolio-item-four">
                    <div class="image wow fadeInLeft delay-0-2s">
                        <%= image_tag("portfolio/dog_saloon.png", :alt => "Portfolio") %>    
                    </div>
                    <div class="content wow fadeInRight delay-0-2s">
                        <span class="category">DOG GROOMING</span>
                        <h2><a href="https://www.thedogsaloon.com">The Dog Saloon</a></h2>
                        <p>A dog grooming website also built with Wordpress using Avada theme this time</p>
                        <a class="details-btn" href="https://www.thedogsaloon.com"><i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="portfolio-item-four">
                    <div class="content wow fadeInRight delay-0-2s">
                        <span class="category">CAR RENTAL</span>
                        <h2><a href="https://www.dankycars.pl">Exclusive Cars Website</a></h2>
                        <p>On this project we were responsible for creating the hosting environment and the API (Symfony PHP). Simply, a place where you can rent some latest sport BMW's</p>
                        <a class="details-btn" href="https://www.dankycars.pl"><i class="fal fa-arrow-right"></i></a>
                    </div>
                    <div class="image wow fadeInLeft delay-0-2s">
                        <%= image_tag("portfolio/dankycars.png", :alt => "Portfolio") %>    
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Area end -->
        
          
        <!-- Lets Talk Area start -->
        <div class="lets-talk-area text-center pb-75 rpb-100">
            <div class="container">
                <a href="contact_form" class="lets-talk-text wow zoomIn delay-0-2s">Let’s Talk <i class="fal fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- Lets Talk Area end -->
           

        <!-- Headline area start -->
        <div class="headline-area bgc-primary py-20">
            <div class="headline-wrap style-two color-black">
                <span class="marquee-wrap">
                   <span class="marquee-inner left">
                        <span class="marquee-item"><b>customer business solution</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b>web development based company</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b>marketing based devlopment</b><i class="fas fa-bahai"></i></span>
                   </span>
                   <span class="marquee-inner left">
                        <span class="marquee-item"><b>customer business solution</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b>web development based company</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b>marketing based devlopment</b><i class="fas fa-bahai"></i></span>
                   </span>
                   <span class="marquee-inner left">
                        <span class="marquee-item"><b>customer business solution</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b>web development based company</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                        <span class="marquee-item"><b>marketing based devlopment</b><i class="fas fa-bahai"></i></span>
                   </span>
                </span>
             </div>
        </div>
        <!-- Headline Area end -->